<form method="post" action="/sources/post">
    <div class="mb-3">
        <label  class="form-label">Name</label>
        <input type="text" name="name" class="form-control" placeholder="nhập từ khoá ...">
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" name="description" class="form-control" placeholder="nhập từ khoá ...">
    </div>
    <div class="mb-3">
        <label class="form-label">img</label>
        <input type="text" name="image" class="form-control" placeholder="nhập từ khoá ...">
    </div>
    <button type="submit" class="btn btn-primary">POST</button>
</form>